<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>
<form method="POST" action="/update_prod">
   <h3>Product Information</h3>
        <input type="hidden" name="id" value="{{ product.id }}"/>
        Name<br>
        <input type="text" name="name" value="{{ product.name }}"/>
        <br/>
        Description<br>
        <textarea name="description">{{ product.description }}</textarea><br>
        Supplier<br>
        <input type="text" name="supplier" value="{{ product.supplier}}"/><br>
        Pincode<br>
        <input type="text" name="price" value="{{ product.price }}"/><br>
        <input type="submit" value="submit"/><br>
</form>
</body>
</html>